﻿@using Models
@{
    ViewData["Title"] = "RSS Feed List";
}
@model List<RssReaderSimpleItem>

@if (!Model.Any())
{
    <p>No news were founded</p>
}
else
{

    <p id="sortingAZ">Sorting A to Z</p><p id="sortingZA">Sorting Z to A</p>
    <br clear="all" />
    <ul class="list">
        @foreach (RssReaderSimpleItem item in Model)
        {
            <li><a href="@item.Uri" target="_blank">@item.Title</a><span> - Edit link</span></li>
        }
    </ul>
}